
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: #272343;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    
}
body{
  font-family: 'Roboto', sans-serif !important; 
}
.contaner-fluid{
  height: 70px;
}
.contenedor--header{
  width: 100%;
  position: fixed;
  z-index: 1010;
}
.logo {
    width: 250px;
    height: 80px;
    background-color: #fafafa;
}
.flexEnd{
    padding-left: 45%;
}

.bg-own {
    background-color:#fafafa;
    padding: 0rem 1rem !important;
}
 /* Inicio de main */
 .container_main {
   padding-top: 90px;
     width: 100%;
     height: 408px;
     background-color: #bae8e8;
     display: flex;
     justify-content: space-between;
 }
 @media screen and (max-width:400px){
  .flexEnd{
   padding-left: 0;
  }
}


 .texto{
   display: flex;
   align-content: center;
   flex-wrap: wrap;
   width: 35%;
   padding-left: 5%;
 }
 .texto h1{
  font-weight:900;
}

 .texto p {
   text-align: center;
   width: 100%;
 }
 .img__main{
   padding-right: 5%;
   overflow: hidden;
 }
 @media screen and (max-width:768px){
  .texto{
    width: 100%;
    padding: 5%;
  }
}
 @media screen and (max-width:400px){
   .container_main{
     padding-top: 120px;
     flex-wrap: wrap;
     height: auto;
     overflow: hidden;
   }
  .texto{
    width: 100%;
    padding: 0 10%;
    
  }
  .img__main{
    width: 80%;
  margin: 0 auto;
    overflow: hidden;
  }
  .img__main img{
    width: 300px;
    height: 300px;
  }
}

.contenedor_video{
   width: 100%;
   height: 800px;
   background-color: white;
 }
.video{
    width: 58%;
    min-width: auto;
    height: auto;
    margin: 0 auto;
    background-color: #e3f6f5;
    align-content: center;
    position: relative;
    top: 40px;
    overflow: hidden;
    border-radius: 15px;
 } 
.video video {
  display: block;
  width: 100%;
}
@media screen and (max-width:768px){
  .video{
    background-color: #e3f6f5;
    width: 90%;
    height: 200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    top: 25px;
  }
 .video video {
   /* display: block; */
   width: 100%;
 } 
}
 @media screen and (max-width:400px){
   .video{
    background-color: #e3f6f5;
     width: 100%;
     height: auto;
     margin: 0;
     margin-top: 10px;
     padding: 0;
     overflow: hidden;

   }
  .video video {
    
    width: 100%;
    padding: 1%;
  } 
}
 /* .video iframe{
     max-width: 100% ;
 }  */
 
 /* Inicio de contaniner form */
 .contenedor-form{
     width: 100%;
     height: 300px;
     position: relative;
     display: flex;
     justify-content: center;
     background-color: #e3f6f5;
 }
 @media screen and (max-width:768px){
  .contenedor-form{
    height: 200px;
  }
}
 @media screen and (max-width:400px){
  .contenedor-form{
    height: 50px;
  }
}
.form{
    padding:2rem 6rem;
    min-width: 70%;
    height: 550px;
    margin: 0 auto;
    background-color: #f4f4f4;
    position: relative;
    border-radius: 15px;
    top:-250px;
}
@media screen and (max-width:768px){
  .form{
    top:-350px;
    min-width: 90%;
  }
}
@media screen and (max-width:400px){
  .form{
    top:-520px;
    padding: 1rem;
    min-width: 90%;
  }
}
.form h2{
    min-width: 70%;
    margin: 0 auto;
    color: #57078e;
} 
.form_p {
  color: #86899b;
}
.form-group label{
  font-size: 14px;
  font-weight: 900;
}
.form-group input{
  border-radius: 5px;
  height: 58px;
}
.boton{
margin-top: 2rem;
}
button{
  background-color: #1fdbdf !important;
  color: black !important;
  font-weight: 900 !important;
}
/*Fin de form */

/* Inicio de section */
section{
    width: 100%;
    height: auto;
    background-color: #e3f6f5;
    padding-top: 4rem;
}
.section_titulo{
  color:#272343 ;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.section_subTitulo{
  color:#272343 ;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin-bottom: 3rem;
}
.section_sangria{
  color:#353535 ;
  font-weight: 900;
  font-size: 36px;
  text-align:left;
  padding-left: 3.5rem;
  margin-bottom: 4rem;
}

.contenedor-flex{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-color: #e3f6f5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section_flex--img {
    width: 50%;
    overflow: hidden;
}
.section_flex--img img {
    width: 350px;
    height: 350px;
}
.section_flex--tex{
    width: 50%;
    max-height: 350px;
    text-align: center;
    padding: 5%;
} 
.section_flex--tex h3{
  color: #350268;
  font-size: 30px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 1rem;
}
.section_flex--tex p{
  color: #070707;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
}
#telefono{
  display: none;
}

@media screen and (max-width:400px){

  .section_flex--img{
    width: 100%;
  }
  .section_flex--tex{
    width: 100%;
  }
  #telefono{
    display: block;
  }
} 
@media screen and (max-width:400px){
  #pc{
    display: none;
  }
}

.contenedor-temario{
    color: #ffff;
    width: 100%;
    height: auto;
    background-color: #57078E;
    display:flex;
    flex-wrap: wrap;
  }
  
  .section__temario--text{
    width: 50%;
   background-color: #57078E;
   max-width: 100%;
   max-height: 450px;

  }
    
  .section__temario--titulo{
    margin-top: 3rem;
    margin-left: 3rem;
  }
  .section__temario--titulo h2 {
    font-weight: 900;
  }
  .section__temario--lista{
    margin-left: 6rem;
    line-height: 36px;
    font-size: 18px;
  }
  @media screen and (max-width:400px){
    .section__temario--text{
      width: 100%;
    }
    .section__temario--lista{
      margin-left: 2rem;;
    }
  }
  .section__temario--img{
    width: 50%;
    overflow: visible;
    max-width: 100%;
    max-height: 450px;
  }
  .temario__img {
    width: 90%;
    margin-right: 0;
    margin-left: auto;
  }
  .section__temario--img img {
    height: 100%;
    width: 100%;

  }
  .temario__boton{
    width: 256px;
    height: 54px;
    margin: 0 auto;
    background: #1FDBDF;
    border-style: none;
    border-radius: 6px;
    text-align: center;
    line-height: 50px;
  }
  .temario__boton button{
    border-style: none;
    color: black;
    font-weight: 900 ;
    font-size: 18px;
    text-align: center;
  }
  @media screen and (max-width:768px){
    .section__temario--img{
      padding-top: 90px;
    }
  }
  @media screen and (max-width:400px){
    .section__temario--img{
      width: 100%;
    }
    .temario__img{
      margin-left: 0;
      margin-right: 0;
      margin: 0 auto;
    }
    .temario__boton {
      margin: 20px auto;
      width: 200px;
    }
  }
  
  /* me presento */
  .contenedor-presento{
    background-color: #ffff;
    max-height: 450px;
    margin-top: 50px;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
   }
  .presento__ponente{
    width: 45%;
    height: 450px;
  }
  .presento__ponente h2{
    font-weight: 900;
    font-size:36px;
    margin-bottom: 2rem;
  }
  .section-presento-text{
    width: 40%;
    height: 450px;
    text-align: justify;
    padding-right: 5%;
    color: black;
    display: flex;
    align-items: center;
  }
  .section-presento-text p{
    font-size: 20px;
  }
  .presento-img{
    width: 354px;
    height: 354px;
    border-radius:354px;
  }
  @media screen and (max-width:768px){
    .contenedor-presento{
      margin-top: 0;
      max-height: 900px;
      padding-left: 0rem;
    }
    .presento__ponente{
      width: 100%;
      height: 500px;
      display: flex;
      flex-wrap: wrap;
      justify-content:center; 
    }
    .presento__ponente h2 {
      margin-top: 40px;
      width: 100%;
      padding:0 35%;
    }
    .section-presento-img{
      width: 100%;
      padding: 0 25%;
    }
    .section-presento-text{
      width: 100%;
      padding: 10%;
      height: 400px;
    }
  }
  @media screen and (max-width:400px){
    .contenedor-presento{
      max-height: 1150px;
      padding-left: 0rem;
    }
    .presento__ponente{
      width: 100%;
      height: 500px;
      display: flex;
      flex-wrap: wrap;
      justify-content:center; 
    }
    .presento__ponente h2 {
      margin-top: 40px;
      width: 100%;
      padding:0 20%;
    }
    .section-presento-img{
      width: 100%;
      padding: 0 2.5%;
    }
    .section-presento-text{
      width: 100%;
      padding: 0 5%;
      height: 550px;
      align-items: initial;
    }
  }
    
  /* ---------- la gente esta hablando----------------------------*/ 
  .section-hablando {
    padding-top: 4rem;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    background-color: #bae8e8 ;
    margin-bottom: -1px;
  }
  .contenedorPortada {
    display: flex;
    background-color:#bae8e8;
    flex-wrap: nowrap;
    column-gap: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    height: 400px;
  }
  .contenedorPortadaDescripcion {
      background-color: white;
      border-radius: 20px;
      margin-bottom: 40px;
      padding: 1%;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      height: fit-content;
      
      }
      .contenedorPortadaDescripcion1{
        background-color: white;
      border-radius: 20px;
      margin-bottom: 40px;
      padding: 1%;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      height: fit-content; 
      
      }
      .contenedorPortadaDescripcion2{
        background-color: white;
        border-radius: 20px;
        margin-bottom: 40px;
        padding: 1%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        height: fit-content;
      }
  
  .p2{font-style: bolder;
    font-weight: 700;
  font-size: 16px;
  color: #57078E;}

  @media screen and (max-width:400px){
    .contenedorPortada{
      flex-wrap: wrap;
      height: 700px;
    }
    .contenedorPortadaDescripcion{
      width: 100%;
    }
    .contenedorPortadaDescripcion1{
      width: 100%;
    }
    .contenedorPortadaDescripcion2{
      width: 100%;
    }
  }
    /* ---------- footer----------------------------*/ 
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
   padding-bottom: -10px;
  } 
  .one {
    width: 25%;
    font-size: 14;
    font-weight: 400;
  }
  .two {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  .three {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  .three img {
    width: 250px;
    height: 45px;
    text-align: center;
  }
  @media screen and (max-width:400px){
  .one{
    width: 50%;
  }
  .two{
    width: 50%;
  }
  .wrapper{
    margin-bottom: 20px;
  }
  }
  


  