
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: #272343;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    
}
body{
    font-family: 'Roboto', sans-serif;
}
.contaner-fluid{
  height: 70px;
}
.contenedor--header{
  width: 100%;
  position: fixed;
  z-index: 1010;
}
.logo {
    width: 250px;
    height: 80px;
    background-color: #fafafa;
}
.flexEnd{
    padding-left: 30%;
}

.bg-own {
    background-color:#fafafa;
    padding: 0rem 1rem !important;
}
 /* Inicio de main */
 .container_main {
   padding-top: 90px;
     width: 100%;
     height: 408px;
     background-color: #bae8e8;
     display: flex;
     justify-content: center;
 }
 /* .img__main{
   padding-top: 90px;
   width: 30%;
   height: 25px;
   display: flex;
   flex-wrap: wrap;
   gap: 20%;
   justify-content: space-between;
 }
 .img__main--hommer{
  width: 34%;
}
.img__main--fc{
  width: 33%;
}
.img__main--ig{
  width: 33%;
} */

 .texto{
   display: flex;
   align-content: center;
   flex-wrap: wrap;
   width: 35%;
 }

 .texto p {
   text-align: center;
   width: 100%;
 }
 @media screen and (max-width:768px){
  .texto{
    width: 100%;
    padding: 5%;
  }
}
 @media screen and (max-width:400px){
  .texto{
    width: 100%;
    padding: 10%;
  }
}

.contenedor_video{
   width: 100%;
   height: 800px;
   background-color: white;
 }
.video{
    width: 58%;
    min-width: auto;
    height: auto;
    margin: 0 auto;
    background-color: #e3f6f5;
    align-content: center;
    position: relative;
    top: -40px;
    overflow: hidden;
 } 
.video video {
  display: inline;
  width: 100%;
}
@media screen and (max-width:768px){
  .video{
    background-color: #e3f6f5;
    width: 90%;
    height: 200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
 .video video {
   /* display: block; */
   width: 100%;
 } 
}
 @media screen and (max-width:400px){
   .video{
    background-color: #e3f6f5;
     width: 100%;
     height: auto;
     margin: 0;
     padding: 0;
     overflow: hidden;

   }
  .video video {
    /* display: block; */
    width: 100%;
    padding: 1%;
  } 
}
 /* .video iframe{
     max-width: 100% ;
 }  */
 
 /* Inicio de contaniner form */
 .contenedor-form{
     width: 100%;
     height: 300px;
     position: relative;
     display: flex;
     justify-content: center;
     background-color: #e3f6f5;
 }
 @media screen and (max-width:768px){
  .contenedor-form{
    height: 200px;
  }
}
 @media screen and (max-width:400px){
  .contenedor-form{
    height: 5px;
  }
}
.form{
    padding:2rem 6rem;
    min-width: 70%;
    height: 550px;
    margin: 0 auto;
    background-color: #f4f4f4;
    position: relative;
    border-radius: 15px;
    top:-250px;
}
@media screen and (max-width:768px){
  .form{
    top:-350px;
    min-width: 90%;
  }
}
@media screen and (max-width:400px){
  .form{
    top:-570px;
    padding: 1rem;
    min-width: 90%;
  }
}
.form h2{
    min-width: 70%;
    margin: 0 auto;
    color: #57078e;
} 
.form_p {
  color: #86899b;
}
.form-group label{
  font-size: 14px;
}
.form-group input{
  border-radius: 5px;
  height: 58px;
}
.boton{
margin-top: 2rem;
}
button{
  
  background-color: #1fdbdf !important;
  color: black !important;
}
/*Fin de form */

/* Inicio de section */
section{
    width: 100%;
    height: auto;
    background-color: #e3f6f5;
    padding-top: 4rem;
}
.section_titulo{
  color:#272343 ;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.section_subTitulo{
  color:#272343 ;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin-bottom: 3rem;
}
.section_sangria{
  color:#353535 ;
  font-weight: 700;
  font-size: 36px;
  text-align:left;
  padding-left: 3.5rem;
  margin-bottom: 4rem;
}

.contenedor-flex{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-color: #e3f6f5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section_flex--img {
    width: 50%;
}
.section_flex--img img {
    width: 350px;
    height: 350px;
}
.section_flex--tex{
    width: 50%;
    max-height: 350px;
    text-align: center;
    padding: 5%;
} 
.section_flex--tex h3{
  color: #350268;
  font-size: 30px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 1rem;
}
.section_flex--tex p{
  color: #070707;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
}
#telefono{
  display: none;
}

@media screen and (max-width:400px){

  .section_flex--img{
    width: 100%;
  }
  .section_flex--tex{
    width: 100%;
  }
  #telefono{
    display: block;
  }
} 
@media screen and (max-width:400px){
  #pc{
    display: none;
  }
} 
.contenedor-temario{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #57078E;
    display:flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .section-temario{
    background-color: #57078E;
    margin-bottom: auto;
  }
  .section-temario-text{
    width: 50%;
    max-height: 350px;
    text-align: justify;
    padding: 5%;
   background-color: #57078E;
   color: white;
   font-family: 'Roboto', sans-serif;
  }
  
  .temario-img{
    width: 350px;
  }
  
  /* me presento */
  .contenedor-presento{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    color: black;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    padding-top: -1px;
  }
  
  .section-presento{
    margin-bottom: auto;
  }
  .section-presento-text{
    width: 50%;
    max-height: 350px;
    text-align: justify;
    padding: 5%;
   color: black;
   font-family: 'Roboto', sans-serif;
   margin-bottom: -1px;
  }
  
  .presento-img{
    width: 354px;
    height: 354px;
    border-radius:350px;
  margin-bottom: 30px;
  }
    
  
  /* ---------- la gente esta hablando----------------------------*/ 
  .contenedorPortada {
    display: flex;
    background-color:#bae8e8;
    column-gap: 20px;
    padding-top: 90px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
  height: 400px;
      
    
      }
  .contenedorPortadaDescripcion {
      background-color: white;
      border-radius: 20px;
      margin-bottom: 40px;
      padding: 1%;
      margin-left: 5%;
      margin-right: 5%;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      height: fit-content;
      width: 2800px;
      
      }
  
      .contenedorPortadaDescripcion1{
        background-color: white;
      border-radius: 20px;
      margin-bottom: 40px;
      padding: 1%;
      margin-left: 5%;
      margin-right: 5%;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      height: fit-content;
      width: 2800px;
      }
      
      .contenedorPortadaDescripcion2{
        background-color: white;
        border-radius: 20px;
        margin-bottom: 40px;
        padding: 1%;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        height: fit-content;
        width: 2800px;
      }
  
  .section-hablando{
    text-align: center;
    background-color: #bae8e8 ;
    margin-bottom: -1px;
  
  }
  
  .p2{font-style: bolder;
    font-weight: 700;
  font-size: 16px;
  color: #57078E;}
  
  
    
    /* ---------- footer----------------------------*/ 
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:450px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 20px;
   padding-bottom: -10px;
  }
  
/* css 2da parte //
.contenedor-temario{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #57078E;
    display:flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .section-temario{
    background-color: #57078E;
    margin-bottom: auto;
  }
  .section-temario-text{
    width: 50%;
    max-height: 350px;
    text-align: justify;
    padding: 5%;
   background-color: #57078E;
   color: white;
   font-family: 'Roboto', sans-serif;
  }
  
  .temario-img{
    width: 350px;
  }
  
  /* me presento */
  .contenedor-presento{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    color: black;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    padding-top: -1px;
  }
  
  .section-presento{
    margin-bottom: auto;
  }
  .section-presento-text{
    width: 50%;
    max-height: 350px;
    text-align: justify;
    padding: 5%;
   color: black;
   font-family: 'Roboto', sans-serif;
   margin-bottom: -1px;
  }
  
  .presento-img{
    width: 354px;
    height: 354px;
    border-radius:350px;
  margin-bottom: 30px;
  }
    
  
  /* ---------- la gente esta hablando----------------------------*/ 
  .contenedorPortada {
    display: flex;
    background-color:#bae8e8;
    column-gap: 20px;
    padding-top: 90px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
  height: 400px;
      
    
      }
  .contenedorPortadaDescripcion {
      background-color: white;
      border-radius: 20px;
      margin-bottom: 40px;
      padding: 1%;
      margin-left: 5%;
      margin-right: 5%;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      height: fit-content;
      width: 2800px;
      
      }
  
      .contenedorPortadaDescripcion1{
        background-color: white;
      border-radius: 20px;
      margin-bottom: 40px;
      padding: 1%;
      margin-left: 5%;
      margin-right: 5%;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      height: fit-content;
      width: 2800px;
      }
      
      .contenedorPortadaDescripcion2{
        background-color: white;
        border-radius: 20px;
        margin-bottom: 40px;
        padding: 1%;
        margin-left: 5%;
        margin-right: 5%;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        height: fit-content;
        width: 2800px;
      }
  
  .section-hablando{
    text-align: center;
    background-color: #bae8e8 ;
    margin-bottom: -1px;
  
  }
  
  .p2{font-style: bolder;
    font-weight: 700;
  font-size: 16px;
  color: #57078E;}
  
  
    
    /* ---------- footer----------------------------*/ 
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:450px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 20px;
   padding-bottom: -10px;
  }
  