
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: #272343;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
}
.logo {
    width: 250px;
    height: 80px;
    background-color: #bae8e8;
}
.flexEnd{
    padding-left: 30%;
}

.bg-own {
    background-color:#bae8e8;
}
 /* Inicio de main */
 .container_main {
     width: 100%;
     height: 65vh;
     background-color: #bae8e8;
     position: relative;
     display: flex;
     justify-content: center;
 }
 .video{
     position: absolute;
     min-width: auto;
     height: auto;
     margin: 0 auto;
     background-color: red;
     align-content: center;
     bottom: -18%;     
 }
 .video iframe{
     min-width: 80% ;
 }
 /* Inicio de contaniner form */
 .contenedor-form{
     width: 100%;
     min-height: 600px;
     position: relative;
     display: flex;
     justify-content: center;
 }
.form{
    min-width: 60%;
    margin: 0 auto;
    margin-top: 15%;

    background-color: #f4f4f4;
    position: absolute;
    border-radius: 15px;
}
.form h2{
    width: 60%;
    margin: 0 auto;
}
/*Fin de form */

/* Inicio de section */
section{
    width: 100%;
    height: auto;
    background-color: #e3f6f5;
}
section h2 {
    padding-top: 20px;
    padding-left: 2%;
}
.contenedor-flex{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    background-color: #e3f6f5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section_flex--img {
    width: 50%;
}
.section_flex--img img {
    width: 350px;
    height: 350px;
}
.section_flex--tex{
    width: 50%;
    max-height: 350px;
    text-align: center;
    padding: 5%;
}

#temario{background-color: #350268;
color: white;
padding-bottom: 80px;
padding-top: 80px;
text-align: justify;
padding-right: 30px;
padding-left: 100px;}

h2{text-align: center;}

.card-body{background-color:white;}

footer {
    background-color: #383c41;
    text-align: center;
    padding-bottom: 15px; }
  
  /* social media iconos */
  .sm-handle {
    display: flex;
    padding-top: 2rem;
    justify-content: center; }
  
  .sm-button {
    margin: 0px 10px 0px;
    border: 1px solid #bababa;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  
  .sm-button:hover {
    background: linear-gradient(to right, #b9a37c, #dcc49a); }
  
  .fab {
    color: #fff;
    font-size: 16px; }
  
  /* mapa sitio*/
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    letter-spacing: 1.5px;
    word-spacing: 2px; }
  
  .menu-title {
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif; }
  
  .menu {
    margin-bottom: 20px;
    margin-top: 10px; }
  
  .menu-links, .other-links {
    display: block;
    color: #d5d5d5;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 13px; }
  
  .menu-links:hover {
    color: #dcc49a;
    text-decoration: none; }
  
  /* copyright area */
  .copyright {
    font-size: 10px;
    color: white;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-family: "Poppins", sans-serif; }
  
  /* screen change */
  @media (max-width: 700px) {
    .footer-links {
      grid-template-columns: 1fr; } }
  
  .static {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    top: -100px;
    opacity: 0.05;
    z-index: 230;
    user-select: none; }
  
  .error {
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-size: 95px;
    font-style: italic;
    text-align: center;
    width: 100px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    right: 0;
    animation: noise 2s linear infinite;
    overflow: default; }
  
  .error:after {
    content: '404';
    font-family: 'Gilda Display', serif;
    font-size: 100px;
    font-style: italic;
    text-align: center;
    width: 150px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: blue;
    animation: noise-1 .2s linear infinite; }
  
  .info {
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    animation: noise-3 1s linear infinite; }
  
  .error:before {
    content: '404';
    font-family: 'Gilda Display', serif;
    font-size: 100px;
    font-style: italic;
    text-align: center;
    width: 100px;
    height: 60px;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: red;
    animation: noise-2 .2s linear infinite; }
  
  @keyframes noise-1 {
    0%, 20%, 40%, 60%, 70%, 90% {
      opacity: 0; }
    10% {
      opacity: .1; }
    50% {
      opacity: .5;
      left: -6px; }
    80% {
      opacity: .3; }
    100% {
      opacity: .6;
      left: 2px; } }
  
  @keyframes noise-2 {
    0%, 20%, 40%, 60%, 70%, 90% {
      opacity: 0; }
    10% {
      opacity: .1; }
    50% {
      opacity: .5;
      left: 6px; }
    80% {
      opacity: .3; }
    100% {
      opacity: .6;
      left: -2px; } }
  
  @keyframes noise {
    0%, 3%, 5%, 42%, 44%, 100% {
      opacity: 1;
      transform: scaleY(1); }
    4.3% {
      opacity: 1;
      transform: scaleY(1.7); }
    43% {
      opacity: 1;
      transform: scaleX(1.5); } }
  
  @keyframes noise-3 {
    0%, 3%, 5%, 42%, 44%, 100% {
      opacity: 1;
      transform: scaleY(1); }
    4.3% {
      opacity: 1;
      transform: scaleY(4); }
    43% {
      opacity: 1;
      transform: scaleX(10) rotate(60deg); } }
  


.footer {
background-color: black ;
    background-size: cover;
    
}



.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
}

    .first h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }

        .first h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

    .first p {
        font-size: 14px;
    }

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

    .second h4::after {
        content: '';
        background: #66c83d;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }


.second li {
    list-style: none;
    padding-bottom: 30px;
}

.second a, .second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

    .second a:hover, .second2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none

    }



.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


    .third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }


        .third h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }



    .third li {
        list-style: none;
        padding-bottom: 15px;
    }


    .third a {
        color: rgb(206, 206, 206);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }


        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}

.margin {
    margin-left: 20px;
}

.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}

.container h1{
    text-align:center;
    margin-top:100px;
    margin-bottom:100px;
}

